@font-face {
  font-family: "arcadeFont";
  src: url(../fonts/ARCADECLASSIC.TTF);
}

body {
  margin: 0;
  background-color: black;
}

#my-canvas {
  background-color: black;
}

#play-button {
  background-color: red;
  font-family: "arcadeFont";
  color: white;
  position: absolute;
  top: 350px;
  padding: 30px;
  padding: 40px;
  font-size: 40px;
  margin-top: 10px;
  border-radius: 10px;
}

#restart-button {
  background-color: red;
  font-family: "arcadeFont";
  color: white;
  position: absolute;
  top: 650px;
  padding: 30px;
  font-size: 30px;
  margin-top: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas {
  display: none; /*no muestres el elemento en el DOM*/
}

#gameover-screen {
  display: none;
}

#population {
  display: none;
  font-family: "arcadeFont";
  color:yellow;
  justify-content: flex-start;
  font-size: 40px;
  position: absolute;
  left: 400px;
  top: 80px;
  
}

#score {
  display: none;
  font-family: "arcadeFont";
  color:yellow;
  justify-content: flex-end;
  font-size: 40px;
  position: absolute;
  right: 400px;
  top: 80px;
 
}

#howTo {
  display: block;
  font-family: "arcadeFont";
  color:yellow;
  font-size: 25px;
  position: flex;
  justify-content: center;
  left: 850px;
  top: 600px;
  
}

audio {
  display: none;
}
