body {
    margin: 0;
    background-color: lightblue;
  }
  
  #my-canvas {
    background-color: lightblue;
  }
  
  #play-button, #restart-button {
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 80px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #my-canvas{
    display: none; /*no muestres el elemento en el DOM*/
  }
  
  #gameover-screen{
    display: none;
  }